.TextProcessorForm {
  display: flex;
  gap: 5px;
  height: 200px;
}

textarea {
  width: 100%;
  resize: none;
}

button {
  background-color: rgb(106, 34, 173) 
}

button:hover {
  
  border-color: rgb(202, 202, 202);
}